.Header {
  position: relative;
  display: flex;
  height: var(--coteach-header-height);

  a {
    color: var(--coteach-purple);
  }

  nav {
    align-self: center;
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
    width: calc(100% - 60px);

    ul {
      height: 100%;

      list-style-type: none;
      padding: 0;
      display: flex;

      text-transform: uppercase;

      margin: 0 10px 0 0;

      li {
        margin-right: 20px;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.Logo {
  align-self: center;
  height: calc(var(--coteach-header-height) - 10px);

  img {
    height: inherit;
  }
}

.TransparentHeader {
  position: absolute;
  z-index: 100;
  width: 100%;

  a {
    color: white;
    font-weight: 600;
  }
}

.SupersizedHeader {
  --coteach-header-height: 120px;
}
