.Header {
  position: relative;
  display: flex;
  height: var(--coteach-header-height);
  background-color: var(--coteach-light);
}

.Logo {
  align-self: center;
  height: calc(var(--coteach-header-height) - 10px);

  img {
    height: inherit;
  }
}

.TransparentHeader {
  position: absolute;
  z-index: 100;
  width: 100%;

  background-color: transparent;

  a {
    color: white !important;
    font-weight: 600 !important;
  }
}

.SupersizedHeader {
  --coteach-header-height: 120px;
}
