#Partners {
  background-color: white;

  h2 {
    font-size: 1em;
    text-align: center;
    padding: 20px 0 0 0;
    font-weight: 600;
    text-transform: lowercase;
  }

  ul {
    margin: 0;
    display: flex;
    list-style: none;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    li {
      width: 400px;
      text-align: center;
      padding: 30px;
      position: relative;

      img {
        transition: transform 0.6s ease-out;
        max-width: 100%;
        max-height: 50px;
      }
    }

    li img:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1000px) {
  #Partners {
    ul li {
      width: 150px;
    }
  }
}
