#Paths {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  font-size: 1.2em;
}

#Professionals,
#Schools {
  color: var(--coteach-dark);
  max-width: 70ch;
  transition: transform 0.6s ease-out;

  img {
    display: block;
    max-height: 200px;
    margin: auto;
    transition: transform 0.6s ease-out;
  }

  h2,
  p {
    margin: 0;
  }

  h2 {
    font-size: 1.2em;
  }
}

#Professionals:hover {
  transform: scale(1.01) translateX(5px);

  img {
    transform: scale(1.05) translateY(-5px) translateX(-5px);
  }
}
#Schools:hover {
  transform: scale(1.01) translateX(-5px);

  img {
    transform: scale(1.05) translateY(-5px) translateX(5px);
  }
}

.content {
  margin-top: 0;
  background: rgba(var(--coteach-purple-rgb), 0.1);
  padding: 20px 20px;
}

#Professionals .content {
  border-radius: 0 var(--coteach-border-radius) var(--coteach-border-radius) 0;
}

#Schools {
  justify-self: right;
}
#Schools .content {
  border-radius: var(--coteach-border-radius) 0 0 var(--coteach-border-radius);
}

@media (max-width: 1000px) {
  #Paths {
    grid-template:
      "empty1 prof prof prof prof prof"
      "scho scho scho scho scho empty2";
    grid-gap: 40px;
  }
  #Professionals {
    grid-area: prof;
    justify-self: right;

    .content {
      border-radius: var(--coteach-border-radius) 0 0
        var(--coteach-border-radius);
    }
  }
  #Schools {
    grid-area: scho;
    justify-self: left;

    .content {
      border-radius: 0 var(--coteach-border-radius) var(--coteach-border-radius)
        0;
    }
  }

  #Professionals:hover {
    transform: scale(1.01) translateX(-3px);

    img {
      transform: scale(1.05) translateY(-5px) translateX(3px);
    }
  }
  #Schools:hover {
    transform: scale(1.01) translateX(3px);

    img {
      transform: scale(1.05) translateY(-5px) translateX(-3px);
    }
  }
}
