#Paths {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  font-size: 1.2em;
}

#Professionals,
#Schools {
  background: rgba(var(--coteach-purple-rgb), 0.15);
  color: var(--coteach-dark);
  padding: 20px 20px;
  max-width: 70ch;
  transition: transform 0.6s ease-out;

  h2,
  p {
    margin: 0;
  }

  h2 {
    font-size: 1.2em;
  }
}

#Professionals:hover {
  transform: scale(1.01) translateX(5px);
}
#Schools:hover {
  transform: scale(1.01) translateX(-5px);
}

#Professionals {
  border-radius: 0 var(--coteach-border-radius) var(--coteach-border-radius) 0;
}

#Schools {
  border-radius: var(--coteach-border-radius) 0 0 var(--coteach-border-radius);
  justify-self: right;
}

@media (max-width: 1000px) {
  #Paths {
    grid-template:
      "empty1 prof prof prof prof prof"
      "scho scho scho scho scho empty2";
    grid-gap: 40px;
  }
  #Professionals {
    border-radius: var(--coteach-border-radius) 0 0 var(--coteach-border-radius);
    grid-area: prof;
    justify-self: right;
  }
  #Schools {
    border-radius: 0 var(--coteach-border-radius) var(--coteach-border-radius) 0;
    grid-area: scho;
    justify-self: left;
  }

  #Professionals:hover {
    transform: scale(1.01) translateX(-3px);
  }
  #Schools:hover {
    transform: scale(1.01) translateX(3px);
  }
}
