@import "public/fonts/OpenSans/stylesheet.css";

/* COLOUR SCHEME */
:root {
  --coteach-pink: #e4037f;
  --coteach-purple: #642882;
  --coteach-pink-rgb: 228, 3, 127;
  --coteach-purple-rgb: 100, 40, 130;
  --coteach-medium: #ccc;
  --coteach-light: #fff;
  --coteach-dark: #111;

  --coteach-header-height: 90px;
  --coteach-supersized-header-height: 120px;

  --coteach-border-radius: 20px;

  --coteach-char-width: 74ch;
}

/* GLOBAL */
body {
  padding: 0;
  margin: 0;
}

#__next {
  position: relative;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  max-width: 2000px;
  margin: auto;

  background-color: var(--coteach-light);
}

* {
  box-sizing: border-box;
  ::selection {
    background-color: rgba(var(--coteach-pink-rgb), 0.2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: -0.05em;
  line-height: 1.35;
  color: var(--coteach-purple);
  font-weight: 500;
}
p {
  margin-top: 0;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 2em;
}
h2 {
  margin-bottom: 0.2em;
  font-weight: 600;
}
mark {
  background-color: rgba(var(--coteach-pink-rgb), 0.3);
  padding: 1px 4px;
}
a {
  color: var(--coteach-pink);
  text-decoration-color: rgba(var(--coteach-pink-rgb), 0.25);
  transition: text-decoration-color 200ms ease-out;
}
a:hover,
a:focus {
  text-decoration-color: rgba(var(--coteach-pink-rgb), 0.75);
}
blockquote {
  color: var(--coteach-pink);
  font-style: italic;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0;
  line-height: 1.35;
  margin-bottom: 1em;
}

details summary {
  color: var(--coteach-pink);
  cursor: pointer;
  margin-bottom: 20px;
}

details summary * {
  display: inline;
}

hr {
  max-width: var(--coteach-char-width);
  margin: 30px auto;
  border: none;
  border-bottom: 1px solid var(--coteach-purple);
}

ul,
ol,
li {
  padding-left: 0;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
li::marker {
  color: var(--coteach-pink);
  padding-left: 0;
}

/* Default styling of regular body content */
main:not(.home) {
  letter-spacing: -0.01em;
  padding: 0 20px;
  color: var(--coteach-dark);
  margin-top: 10px;

  img {
    max-width: 100%;
  }
}

main:not(.home) section {
  max-width: var(--coteach-char-width);
  margin: auto;
}
main:not(.home) section.columns {
  margin: auto;
  max-width: var(--coteach-char-width);
}

@media (max-width: 1000px) {
  #__next {
    font-size: 14px;
  }

  main:not(.home) section.columns {
    max-width: var(--coteach-char-width);
  }
}
