@import "public/fonts/OpenSans/stylesheet.css";

/* COLOUR SCHEME */
:root {
  --coteach-pink: #e4037f;
  --coteach-purple: #642882;
  --coteach-pink-rgb: 228, 3, 127;
  --coteach-purple-rgb: 100, 40, 130;
  --coteach-medium: #ccc;
  --coteach-light: #fff;
  --coteach-dark: #111;

  --coteach-header-height: 70px;

  --coteach-border-radius: 20px;

  // Only seen on very large displays
  background-color: #222;
}

/* GLOBAL */
body {
  padding: 0;
  margin: 0;
}

#__next {
  position: relative;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  max-width: 2000px;
  margin: auto;

  background-color: #ddd;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--coteach-purple);
  text-decoration-color: rgba(var(--coteach-purple-rgb), 0.25);
  font-weight: 700;
}

@media (max-width: 1000px) {
  #__next {
    font-size: 14px;
  }
}
