.BodyText {
  position: relative;
  margin-top: 20px;
  columns: 2;

  :first-child {
    margin-top: 0;
  }
}

.Lede {
  margin-top: 0;
  font-weight: 600;
}

.pdfDownload {
  text-align: right;
  font-style: italic;
  margin: 10px;
  font-size: 0.8em;

  a {
    text-decoration: none;
    color: rgba(var(--coteach-pink-rgb), 1);
  }

  span {
    font-weight: 800;
    font-style: normal;
  }
}

@media (max-width: 1000px) {
  .BodyText {
    columns: 1;
  }
}

.Survey {
  width: 100%;
  border: none;
  height: 700px;
}

.main {
  h2 {
    margin-top: 1em;
    margin-bottom: 0.25em;
  }
  p {
    margin-top: 0;
  }
}

.warning {
  background-color: var(--coteach-pink);
  padding: 10px 15px;
  color: white;
}


.header {
	h2 {
    font-size: 2em;
    display: inline;
    margin-left: -10px;
    padding: 2px 10px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: var(--coteach-light);
    background-color: var(--coteach-purple);
    z-index: 100000;

    line-height: 1.65;
    white-space: pre-wrap;
  }
	
	display: block;
	margin: auto;
	width: fit-content;
	margin-bottom: 30px;
}

.nestedlist {
	ol {
	counter-reset: item;
	
	li {
		display: block;
	}

	li:before {
		content: counters(item, ".") ". ";
		counter-increment: item;
		color: var(--coteach-pink)
	}
	}
}