.Video {
  width: 100%;
  padding: 0 40px 0 30px;
  height: 800px;
  margin: 80px auto 140px auto;

  max-width: 800px;
  max-height: 40vh;

  h2 {
    display: block;
    padding: 3px 20px;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: max-content;
    text-transform: uppercase;
    color: var(--coteach-light);
    background-color: var(--coteach-purple);
    margin-bottom: 10px;
  }

  iframe {
    border-radius: var(--coteach-border-radius);
  }
}
