.Video {
  width: 100%;
  padding: 0 40px 0 30px;
  margin: 40px auto 40px auto;

  max-width: 800px;

  h2 {
    font-size: 2em;
    display: inline;
    margin-left: -10px;
    padding: 2px 10px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: var(--coteach-light);
    background-color: var(--coteach-purple);
    z-index: 100000;

    line-height: 1.65;
    white-space: pre-wrap;
  }

  .header {
    display: block;
    margin: auto;
    width: fit-content;
    margin-bottom: 30px;
  }

  iframe,
  img {
    height: 800px;
    max-height: 40vh;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 72px 0 rgba(225, 216, 237, 1);
    border-radius: var(--coteach-border-radius);
  }

  a {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;

    .playButton {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .playButton div {
      border-radius: 50%;
      width: 5vmax;
      height: 5vmax;
      font-size: 3vmax;
      text-align: center;
      text-indent: 0.5vmax;
      background-color: var(--coteach-purple);
      color: white;
    }
  }

  a:hover .playButton div,
  a:focus .playButton div {
    background-color: var(--coteach-pink);
  }
}

@media (max-width: 1000px) {
  .header h2 {
    font-size: 1.5em;
  }
}
